
html{
    font-size: 62.5%;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #02052F;
    text-align: left;
    font-size: 16px;
   
}

nav{
    background-color: #fff;
    padding-top: 15px;
    justify-content: flex-end;

}
h1 {
    font-family: "DinBold", sans-serif;
    color: white;
    background-color: rgba(248, 102, 102, 0.65);
    text-align: left;
    /* INDICAREMOS DONDE NOS ALINEARA EL TEXTO*/
    padding: 35px;
    display: block;
    font-size: 45px;
    
}

div{
    display: block;
}

img{
    border-style: none;
    
}
a{
    text-decoration: none;
    /* LE INDICO QUE EN LOS ENLACES NO QUIERO DECORACION COMO EL SUBRAYADO */
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}
.zonacentro{
    color:#F76666;
}
.contenedor{
    width: 114rem;
    /* DETERMINAMOS EL ANCHO DE LA PAGINA */
    margin: 0 auto;
    padding: 0 auto;
}
.pagina{
    /*ESTA FORMA NOS DARA EL FORMATO GENERAL DE LA ESTRUCTURA DE LA PAGINA DELIMITAN LOS MARGENES*/
    /*ESTABLECE QUE LA PAGINA OCUPARA EL 100% DE LA PANTALLA*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.navprincipal{
    padding: 15px 0 10px;
}
.elbarra{
    margin: 0;
}
.row{
    /*NOS PERMITE ENCUADRAR EL TEXTO*/
    padding-right: -15px;
    padding-left: -15px;
    display: flex; 
    flex-wrap: wrap;
    /* ESTO NOS PERMITE QUE LE CONTENIDO SEA FLEXIBLE Y SE MODIFIQUE SOLO CON EL CONTENIDO */
}
.inline{
    display: flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0;
}
.general{
    width: 100%;
    min-height: 1px;
   
    
}

.derecha{
    /* text-align: right !important; */
    /*ESTAMOS INDICANDO QUE ESTA CARACTERISTICA PREDOMINA SOBRE EL RESTO*/
    display: flex;
    flex-wrap: wrap;
    /* EN EL ELEMENTO QUE TRABAJAMOS DECIMOS QUE CUANDO NO QUEPA EL ELEMENTO EN EL ANCHO DE PÁGINA NOS LO PASE A LA SIGUIENTE LINEA */
    flex:100%;
    /*LE ESTAMOS INDICANDO QUE EL DIV NOS COJA EL 100% DEL ANCHO DE LA PÁGINA*/
    flex-wrap: 100%;
    justify-content: flex-end;
    /* JUSTIFICAMOS EL CONTENIDO AL FINAL DEL FLEX */
    align-items: center;
    /* NOS ALINEA EL CONTENIDO EN EL CENTRO DEL ESPACIO DEL ESPACIO CONTENEDOR VERTICALMENTE */
    
}
.derecha2{
    align-items: right !important;
    
}
.colxl-12, .colxl-4, .colxl-8, .colxl-3{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.colxl-12{
    flex: 100%;
    max-width: 100%
    
}
.colxl-4{
    flex: 33.3%;
    max-width: 33.3%;
    
}
.colxl-8{
    flex: 66.6%;
    max-width: 66.6%;
    
}
.colxl-3{
    flex: 25%;
    max-width: 25%;
}
/*COL LO UTILIZAMOS PARA DETERMINAR QUE PORCENTAJE DEL ESPACIO COPUPA UN DETERMINADO ELEMENTO*/

.imgcarrera{
   display: block;
   padding-top: 17px;
   
}
.tucarrera{
    box-sizing: border-box;
}
.menusec{
    color: #02052F !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    
}
.lista{
    margin: 0 8px;
 
}

.localizaciones{
    background-color: #000;
    color: #fff;
    padding: 5rem 0;
    
}
.loc{
    padding-bottom: 3rem;
}

.loc2{
    display: flex;
}
.direccion{
    padding: 0 10px;
}
.center{
    text-align: center;
}
.imgred{
    align-items: center;
}
.fondoimg{
    background-image: url(/REINICIOPROYECTO/img/11641893944_banner_zona_centro.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*ESTOS DOS COMANDOS NOS PERMITEN DECIRLE QUE NO NOS REPITA LA IMAGEN UNA VEZ LLEGUE A SU TAMAÑO MÁXIMO
    EL OTRO COMANDO NOS DICE QUE EL CONTENIDO DEL FONDO CUBRA TODA LA PANTALLA*/
    padding-top: 80px;
    padding-bottom: 180px;
}
.encuadre1{
    
   
}
.displayflex{
    display: flex;
    flex-wrap: wrap;
    /**/
}